// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "main_frame";
@import "welcome";


body {
	background-color: black;
	text-align: center;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 24px;
	color: #FF9999;
  padding: 10px;

  a {
    color: #FFF;
    padding: 2%;
  }

  table {
    width: 100%;
    text-align: left;

    tbody {
      color: #FFF;
    }
  }

  .table-hover tbody tr:hover td {
    background: #FF9999;
  }

}


